<h2><%= @restaurant.name %>: <%= '⭐️' * @restaurant.rating %></h2>
<h4><%= @restaurant.address %></h4>

<%= link_to 'Delete', restaurant_path(@restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
